.main_container{
    margin-top: 50px;
    color: #332e29;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cards_container{
    width: 100%;
}
.main_container h2{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 800;
    margin: 20px;
    text-align: center;
}
@media (max-width: 600px){
    .main_container{
        margin-top: 5px;
    }
    .main_container h2{
        font-size: 30px;
        font-weight: 700;
        margin: 5px;
    }
}

@media (max-width: 330px){
    .main_container{
        margin-top: 60px;
    }
}